@model IEnumerable<ProjetoAirSoft.Models.Equipes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomedaEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro03)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro04)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro05)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro06)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoriadaEquipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomedaEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HistoriadaEquipe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
